.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: #ffffff;
  color: #333333;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.light button {
  background-color: #333333;
  color: #ffffff;
}
.dark button{
  background-color: #ffffff;
  color: #333333;
}